/* MOBILE FIRST */
@media screen and (min-width: 576px) {
  header {
    margin-bottom: 100px;
  }
  .info-text-container {
    height: 435px;
    width: 435px;
    padding: 30px;
    margin-top: -15%;
    margin-left: 25%;
  }
  .red-table-runner {
    height: 3570px;
    width: 300px;
    right: 40%;
  }

  .info-title-font {
    font-size: 30px;
  }

  .nav{
    margin-left: 100px !important;
  }
  .menu-button {
    margin-right: 30px;
  }
}

/* LANDSCAPE MOBILE */

@media screen and (min-width: 576px) and (max-width: 767px) {
  .img-format {
    height: 505px;
    width: 513px;
  }
  .red-table-runner {
    height: 3570px;
    width: 300px;
    right: 30%;
    margin-top: -2%;
  }
}

@media screen and (orientation: landscape) and (min-height: 576px) {
  .img-format {
    height: 505px;
    width: 513px;
  }
}

/* TABLETTE */

@media screen and (min-width: 768px) {
  .img-grid {
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      ". img1 img4 ."
      ". img2 img5 ."
      ". img3 img6 .";
  }
  .img-format {
    height: 341px;
    width: 334.5px;
  }
  .red-table-runner {
    height: 1250px;
    right: 45%;
  }
  .info-text-container {
    margin-top: -7%;
    margin-left: 45%;
  }
  .info-text-font {
    font-size: 18px;
  }
}
@media screen and (min-width : 992px) {
  .menu-button {
    margin-right: 5rem !important;
  }
}
/* small desktop */

@media screen and (min-width: 1200px) {
  .img-grid {
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      ". img1 img2 img3 ."
      ". img4 img5 img6 .";
  }
  .img-format {
    height: 301px;
    width: 291px;
  }
  .red-table-runner {
    height: 1000px;
    right: 55%;
  }
  .info-text-container {
    margin-top: -6%;
    margin-left: 50%;
  }
}

/* big desktop */

@media screen and (min-width: 1400px) {
  .info-text-container {
    height: 441px;
    width :497px ;
    margin-top: -7%;
    margin-left: 55%;
  }
  .red-table-runner {
    right: 51%;
    width: 351px;
  }
  .info-title-font {
    font-size: 36px;
  }
  .img-format {
    height: 327.5px;
    width: 317.66px;
  }
  .nav-logo{
    margin-left: 90px;
  }

}
