@import url("https://fonts.googleapis.com/css2?family=Alatsi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

/* MOBILE FIRST */

.bg-custom-black {
  background-color: #292d33;
}
a {
  appearance: none;
  font-family: "PT sans", sans-serif;
}
header {
  margin-bottom: 80px;
}
.nav-logo-link {
  margin-left: 1.2rem;
}
.nav-logo {
  height: 32px;
  width: 64px;
}
.menu-button {
  appearance: none;
  border: 0px solid black;
  background-image: url(/assets/icones/menu.png);
  height: 30px;
  width: 25px;
  margin-right: 2rem;
}
.menu-button:hover {
  background-image: url(/assets/icones/menu_hover.png);
}
.close-button {
  padding: 0;
  margin: 0;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.offcanvas-custom-width {

  width: 200px;
  transition: all 500ms ease-in-out;
}
.container-link {
  height: 25%;
  width: 96%;
  padding: 2%;
  margin: 5% 0% 5% 0%;
  background-color: #212121;
  font-size: 20px;
  letter-spacing: 0.8px;
}
.offcanvas-title{
  font-family: "Alatsi", sans-serif;
}
.offcanvas-link-container {
  font-family: "PT Sans", sans-serif;
}
.container-link:hover {
  background-color: #161616;
  color: #e8e8e8;
  transform: scale(1.01);
  transition : transform 300ms ease-in;
}
.offcanvas-emotes {
  font-size: 20px;
}
.center-page-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 100ms ease-in-out;
}
.top-right-page-fixed {
  position: fixed;
  top: 5%;
  left: 95%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.carousel-format {
  height: fit-content;
  width: fit-content;
  z-index: 3;
}
.carousel-anim {
  transition: all 500ms ease-in;
}
.overlay-black {
  background-color: black;
  height: 100%;
  width: 100%;
  opacity: 0.98;
  z-index: 2;
}
.red-table-runner {
  position: absolute;
  background-color: #ec563d;
  top: 20%;
  height: 2720px;
  width: 260px;
  z-index: 0;
}
.img-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    ". img1 ."
    ". img2 ."
    ". img3 ."
    ". img4 ."
    ". img5 ."
    ". img6 .";
}
.img-format {
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 8px;
  height: 341.5px;
  width: 340px;
  z-index: 1;
  cursor: pointer;
  filter: brightness(100%);
  transition: filter 200ms ease-in-out;
}
.img-format:hover {
  filter: brightness(88%);
  transition: filter 200ms ease-in-out;
}
.img-1 {
  grid-area: img1;
}
.img-2 {
  grid-area: img2;
}
.img-3 {
  grid-area: img3;
}
.img-4 {
  grid-area: img4;
}
.img-5 {
  grid-area: img5;
}
.img-6 {
  grid-area: img6;
}
.info-text-container {
  margin-top: 40px;
  padding: 20px 30px;
  height: 434px;
  width: 340px;
  z-index: 1;
}
.info-title-font {
  font-size: 24px;
  font-family: "Alatsi", sans-serif;
}
.info-text-font {
  font-size: 18px;
  line-height: 1.8;
  font-family: "PT Sans", sans-serif;
}
.info-source-font {
  font-size: 18px;
}
.info-pictures {
  border-bottom: solid 2px black;
  user-select: none;
  height: fit-content;
  width: fit-content;
  padding-bottom: 5px;
  font-family: "PT Sans", sans-serif;
}
.info-button-text {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
.info-button {
  margin-right: 75%;
  height: 50px;
  width: 150px;
  padding: 10px 20px;
}
.info-button:hover {
  color: #e8e8e8;
  background-color: black !important;
  border: 0px black solid;
}
.source-page {
  background-color: #333333;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #e8e8e8;
  height: 250px;
  width: 100%;
}

.lines {
  width: 25px;
  height: 3px;
  background: #596778;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
}

.line-1 {
  /* transform: translate(0, -8px); */
  left: 13px;
  transform: rotate(45deg);
}

.line-2 {
  top: 9px;
  transform: rotate(-45deg);
}
